@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }

body, div, span, p, input, textarea, ul, ol, li, a, td, th, h1, h2, h3, h4, h5, h6, option {
	font-family: 'S-CoreDream-3Light';
}

.container {
	width: 700px;
}

.container > section > ul.breadcrumb {
	text-align: right;
}

.table th {
	background-color: #eee;
	vertical-align: middle;
}













